{% extends 'pages/base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block additional_styles %}
    {{ block.super }}
{% endblock additional_styles %}
{% block navbar %}
    {{ block.super }}
{% endblock navbar %}
{% block content %}
    <div class="hero-image">
        <div class="hero-text">
            <h1 class="hero-heading">Черный ворон</h1>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
        </div>
    </div>
    <div class="content-image">
        <div class="content-text">
            <h1 class="content-heading">More content.</h1>
            <p>Ut enim ad minima veniam, quis nostrum exercitationem.</p>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    {{ block.super }}
{% endblock footer %}


