{% load static %}

<!-- icon and text -->
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 socialmedia">
                <span><a href="https://www.youtube.com/channel/UCjamWl3-xyvB5_ceg9jHE0g">
                <img src="{% static "img/Good-Stuff-No-Nonsense-Social-Icons-1.5/PNG/64x64px/youtube.png" %}"
                     alt="YouTube" title="YouTube">
                </a></span>
            </div>
            <div class="col-2 socialmedia">
            <span><a href="https://www.instagram.com/amillionite.ash/">
            <img src="{% static "img/Good-Stuff-No-Nonsense-Social-Icons-1.5/PNG/64x64px/instagram.png" %}"
                 alt="Instagram" title="Instagram">
            </a></span>
            </div>
            <div class="col-2 socialmedia">
            <span><a href="https://amillionite.bandcamp.com">
            <img src="{% static "img/Good-Stuff-No-Nonsense-Social-Icons-1.5/PNG/64x64px/band-camp.png" %}"
                 alt="Bandcamp" title="Bandcamp">
            </a></span>
            </div>
            <div class="col-2 socialmedia">
            <span><a href="https://www.facebook.com/Amillionite/">
            <img src="{% static "img/Good-Stuff-No-Nonsense-Social-Icons-1.5/PNG/64x64px/facebook.png" %}"
                 alt="Facebook" title="Facebook">
            </a></span>
            </div>
            <div class="col-2 socialmedia">
            <span><a href="#">
            <img src="{% static "img/Good-Stuff-No-Nonsense-Social-Icons-1.5/PNG/64x64px/spotify.png" %}" alt="Spotify"
                 title="Spotify">
            </a></span>
            </div>
            <div class="col-2 socialmedia">
            <span><a href="#">
            <img src="{% static "img/Good-Stuff-No-Nonsense-Social-Icons-1.5/PNG/64x64px/apple.png" %}"
                 alt="Apple Music" title="Apple Music">
            </a></span>
            </div>
        </div>

    </div>
</div>